<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Amphisoft"
            id="EBoxPlugin">
      </category>
      <view
            name="EBoxView"
            icon="icons/sample.gif"
            category="EBoxPlugin"
            class="com.amphisoft.ebox.eclipse.plugin.views.EboxView"
            id="com.amphisoft.ebox.eclipse.plugin.views.EboxView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.amphisoft.ebox.eclipse.plugin.views.EboxView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
